座標値取得システム
<div id="ymap" style="width:85%; height:480px"></div>

世界測地系 deg:float【緯度・経度】<br>
<input type="text" class="latlng"></input>
<br>
日本測地系 1/256sec:integer【経度・緯度】<br>
<input type="text" class="latlng_256jp"></input>
<br>
日本測地系 1/1000sec:integer【緯度・経度】<br>
<input type="text" class="latlng_1000jp"></input>
<br>
日本測地系 deg:float【緯度・経度】<br>
<input type="text" class="latlng_jp"></input>

