

<div id="ymap" style="width:85%; height:480px"></div>

世界測地系 deg:float
<div class="lat" style="display: inline-block; _display: inline;">35</div>,
<div class="lng" style="display: inline-block; _display: inline;">135</div>
<br>
日本測地系 1/256sec:integer
<div class="lat_256jp" style="display: inline-block; _display: inline;">35</div>
<div class="lng_256jp" style="display: inline-block; _display: inline;">135</div>
<br>
日本測地系 1/1000sec:integer
<div class="lat_1000jp" style="display: inline-block; _display: inline;">35</div>
<div class="lng_1000jp" style="display: inline-block; _display: inline;">135</div>
<br>
日本測地系 deg:float
<div class="lat_jp" style="display: inline-block; _display: inline;">35</div>
<div class="lng_jp" style="display: inline-block; _display: inline;">135</div>



