<!-- UTF-8 のファイル形式です。-->
<!DOCTYPE html>
<html>
<head>
  <title>観光情報取材システム</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="continer">
	<div class="span">
		<%= yield %>
	</div>

</div>
</body>
</html>
